* {
    margin: 0;
    padding: 0;
}


header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: mediumblue;
    margin: 2rem;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #282828;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

footer a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    color: crimson;

}